.titre {margin 10px;  
   border: 6px solid rgb(39,39,39);
   border-radius:15px ;
   color: rgb(39,39,39);
   box-shadow: 0px,10px,30px rgba(0,0,0,.5);
   background: rgb(124,124,127);
  } 
.interests{margin: 10px;
	border: 4px solid rgb(39,39,39);
	border-radius: 15px;
	color: rgb(255,255,255);
	background: rgb(124,124,127);
	}
	body{background-color: rgb(255,255,255);
	}
	#pdp{border-radius: 70%;
         height: 90px;
         width: 90px;
         border: 1vh solid rgb(0,0,0);
         }


   
            .bloc{
            margin: 1vh auto;
            border: 1vh solid rgb(38,38,38);
            border-radius: 15 px;
            color: rgb(0,0,0);
            max-width: 1250PX;

            

